
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

.navbar {
  font-family: 'Orbitron', sans-serif;
}
.card {
  font-family: 'Exo 2', sans-serif;
}
.table {
  font-family: 'Exo 2', sans-serif;
}

.modal {
  color: black; /* Définit la couleur du texte en noir */
}
