
.zoom-img{
  height: 300px;
  width: 200px;
  transition: transform .1s;
  margin-bottom: 20px;
  border-radius: 5px;
}

.zoom-img:hover{
  -ms-transform: scale(1.10); /* IE 9 */
  -webkit-transform: scale(1.10); /* Safari 3-8 */
  transform: scale(1.10);
}

.TitreJeu{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TitreJeu:hover{
  color: gray;
}

.admin {
  background-image:-moz-linear-gradient(top,#aaeeff,#3399cc);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#aaeeff),to(#3399cc));
  filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FFaaeeff, endColorstr=#FF3399cc);

}